.bg-background {
  background-image: url('/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  height: 100vh;
  min-height: 100vh;
}

.footer {
  // background-color: #182e08;
  color: #ffffff;
  text-align: right;
  padding: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
