.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h2 {
    padding: 30px 25px;
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #ffffff;
  }
  p {
    padding: 15px 25px;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #ffffff;
  }
  .linkContainer {
    display: flex;
    justify-content: center;
  }
  .link {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #182e08;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin: 30px 50px;
  }

  .mainInfo {
    background: rgba(24, 46, 8, 0.9);
    border-radius: 8px;
    width: 500px;
    height: 506px;
  }
}

.disclaimer {
  padding: 20px auto 0px auto;
}

.image {
  align-items: center;
}
