.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  max-height: 100vh;
}

// .form {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;

// }

.header {
  padding-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #182e08;
}

.section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sliderContainer {
  width: 600px;
}

.title {
  color: #182e08;
}

.bar {
  color: #182e08;
}

.calendar {
  color: #182e08;
}
